.modal-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal {
    width: 800px;
    height: 456px;
    background-color: RGBA(251, 250, 250, 1.00);
    box-shadow: 0 34px 50px -20px rgba(0,0,0,0.4);
    position: relative;
    margin: -227px auto 0;
    top: 50%;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.4rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: black;
}

.close:hover {
    color: #444444;
}

.event-title {
    color: black;
    text-align: center;
}
