.total {
    position: absolute;
    bottom: -48px;
    right: 0;
    background-color: RGBA(3, 178, 240, 1.00);
    padding: 12px 34px;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

span {
    font-size: 1rem;
}